/* Header */
header {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  background-color: white;
  opacity: 100;
  z-position: 5;
}

header,
footer,
.bite {
  font-family: Verdana;
}

footer,
.bite {
  font-size: 12px;
}


.logo {
  color: MediumAquamarine;
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding-left: 30px;
  min-width: 300px;
}

.logo span {
  padding-left: 12px;
}

nav {
  display: flex;
  text-align: right;
  padding-right: 40px;
}

nav span,
nav span a {
  color: black;
  padding: 20px 10px;
  
}

/* Main Content */

container {
  display: flex;
  padding-top: 116px;
  font-family: Georgia;
  color: black;
  justify-content: center;
  margin-bottom: 78px;
}

.column.large,
.column.medium,
.column.small {
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image-content {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 15px;
}

.image-content.orca,
.image-content.camera,
.image-content.cat {
  width: auto;
  height: 300px;
}

.text {
  font-size: 17px;
  padding-bottom: 17px;
}

.legend {
  
}

/* Main Content - Main Column */

.lead .legend {
  font-size: 40px;
}

.image-content.lead {
  background-image: url("../imgs/img-story-main.png");
  width: 630px;
  height: 300px;
}

.image-content.orca {
  background-image: url("../imgs/img-story-2.png");
}
  
.image-content.camera {
  background-image: url("../imgs/img-story-3.png");
}

.articles {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.article {
  width: 300px;
}

/* Main Content - Medium column */

.image-content.cat {
   background-image: url("../imgs/img-story-1.png");
}

/* Main Content - Small column */

.newsbite {
  display: flex;
  flex-flow: column wrap;
}

.newsbite h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 41px;
}

.bite {
  background-color: WhiteSmoke;
  color: DimGray;
  border-bottom: 1px solid black;
  display: block;
  padding: 11px 20px;
}

/* Footer */

footer {
  background-color: MediumAquamarine;
  margin: auto;
  height: 325px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.foot .title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

.foot {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: center;
}

footer nav {
  padding-left: 25px;
}




